<h1 class="mb-4">Liste des Marques</h1>

<%= link_to "Ajouter une marque", new_admin_panel_brand_path, class: "btn btn-primary mb-4" %>

<div id="brands_container" class="row row-cols-2 row-cols-md-4 g-3">
  <% @brands.each do |brand| %>
    <%= render partial: "brand", locals: { brand: brand } %>
  <% end %>
</div>
