<div class="bg-light text-dark font-sans p-4">
  <h1 class="h4 fw-bold mb-4 text-center text-md-start">Tableau de bord Admin</h1>

  <div class="row g-3 justify-content-center justify-content-md-start">
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
      <%= link_to "Gérer les parfums", admin_panel_parfums_path, class: "btn btn-outline-primary w-100 text-start" %>
    </div>
    <div class="col-12 col-sm-10 col-md-6 col-lg-4">
      <%= link_to "Gérer les marques", admin_panel_brands_path, class: "btn btn-outline-primary w-100 text-start" %>
    </div>
  </div>
</div>
