<h1>Bienvenue sur l'espace admin</h1>
<body class="bg-gray-100 text-gray-800 font-sans antialiased">

<p><%= link_to "Gérer les parfums", admin_panel_parfums_path %></p>
<p><%= link_to "Gérer les marques", admin_panel_brands_path %></p>

